*{
    margin: 0;
    padding: 0;
    
}

body {
  background: linear-gradient(to bottom, #f1eff3 0%,#ccd8dd 100%);
  font-family: 'Manjari', sans-serif;
  
}

body header h1{
    padding: 10px 20px;
}

/* HEADER */

.title h1 {
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

/* CONTAINER */

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0.6em auto;
    display: grid;
    gap: 1.2em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(3, 1fr);
}

.container>.content, .container>.sidebar, .container>div {
    background: #fff;
    border: 1px solid #000000;
    padding: 20px;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color: #1e272e;  
    color: white;
 
}

.container>.content {
    grid-column: span 2;
    grid-row: span 2;
}

.content .article-matricula {
    position: relative;
    background: #808e9b;
    margin-top: 5px;
    color: #dfe6e9;
    padding: 30px;
    
}

.content> .article-matricula:hover{
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    transition: all 0.5s ease;

}


.content .article-matricula::after {
    content: ''; /* Agrega contenido al pseudo-elemento */
    position: absolute;
    top: 0;
    right: 2px;
    width: 100%;
    max-width: 85px;
    height: 85px;
    background-image: url(/img/matricula.svg);
    background-size: cover;
    box-shadow: 0 0 10px rgba(14, 1, 1, 0.5);
}

.content .article-perfil {
    position: relative;
    background: #808e9b;
    padding: 30px;
    margin-top: 5px;
    color: #dfe6e9;

    
}

.content> .article-perfil:hover{
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    transition: all 0.5s ease;

}


.content .article-perfil::after {
    content: ''; /* Agrega contenido al pseudo-elemento */
    position: absolute;
    top: 0;
    right: 2px;
    width: 100%;
    max-width: 85px;
    height: 85px;
    background-image: url(/img/perfil2.svg);
    background-size: cover;
    box-shadow: 0 0 10px rgba(14, 1, 1, 0.5);
}

.content .article-materia-actual {
    position: relative;
    background: #808e9b;
    padding: 30px;
    margin-top: 5px;
    color: #dfe6e9;
    
}

.content> .article-materia-actual:hover{
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    transition: all 0.5s ease;

}


.content .article-materia-actual::after {
    content: ''; /* Agrega contenido al pseudo-elemento */
    position: absolute;
    top: 0;
    right: 2px;
    width: 100%;
    max-width: 85px;
    height: 85px;
    background-image: url(/img/materia.svg);
    background-size: cover;
    box-shadow: 0 0 10px rgba(14, 1, 1, 0.5);
}



.content .article h1,
.content .article p {
    padding: 5px;
}


.container>.related-post {
    background: #30869e;
    color: #ffffff;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

.related-post-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.related-post-list li {
  margin-bottom: 10px;
}

.related-post-list li:last-child {
  margin-bottom: 0;
}
 

.avatar {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px 15px;
  }
  
  .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2px;
    margin-top: 5px;
  }


  .avatar-text p {
    font-size: 15px;
    margin-right: 5px;
    color: #619bdd;
    
  }

  .avatar .cierre-sesion{
    margin-top: 5px;
    margin-left: 45px;
    font-weight: bold;
    color: #000000;
  }

  .avatar .cierre-sesion:hover{
    cursor: pointer;
    text-decoration: underline;
  }

.nombre-logo{
    position: absolute;
    left: 0.5em;
    
}


.footer {
    background-color: #1e272e;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto; /* Nueva propiedad para definir las filas */
    gap: 5px;
    color: white;
  }
  
  .footer-content {
    grid-column: 1 / -1; /* Ocupa todas las columnas */
    grid-row: 2; /* Se ubica en la segunda fila */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    
  }
  
  .footer-credits {
    text-align: right;
    grid-row: 3; /* Se ubica en la tercera fila */
    margin-top: 5em;
  }
  
.footer-section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .footer-section.contact h4{
    margin-bottom: 10px;    
  }

  .footer-section.contact img {
    margin-right: 5px;
}
  
a:visited {
    color: white; /* Cambia el color a negro después de hacer clic */
    text-decoration: none;
  }
  
  .header h1 {
    display: inline-flex;
    align-items: center;
  }
  
  .header img {
    margin-right: 35px; /* Ajusta el margen derecho según sea necesario */
  }
  


.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .footer li {
    margin: 0 5px;
  }
  
  .footer li:last-child {
    margin-right: 0;
  }
  
  .footer li a {
    display: flex;
    align-items: center;
    color: #619bdd;
    text-decoration: none;
  }
  
  .footer li a::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
  }

  .footer .footer-enlaces {
    flex: 1;
    text-align: center;
  }
  
ul{
    list-style: none;
    
}
  
.footer li a:hover{
    cursor: pointer;
    color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: start;
        
    }
    .container .content {
        grid-column: 1 / -1;
    }
    
    .content .article-matricula::after,
    .content .article-perfil::after,
    .content .article-materia-actual::after {
        max-width: 60px; /* Ajusta el tamaño de la imagen */
        height: 60px; /* Ajusta el tamaño de la imagen */
    }

    .content .article h1 {
        font-size: 1.5em; /* Ajusta el tamaño de la letra */
    }

    .content .article p {
        font-size: 1em; /* Ajusta el tamaño de la letra */
    }

    .container .related-post {
        grid-column: 1/-1;
    }
        
    .footer {
          grid-template-rows: auto auto auto; /* Restaura el número de filas del grid */
           /* Ajusta el margen superior del footer */
        }
      
        .footer-content {
          grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos más pequeños */
          grid-row: 2; /* Ubica el footer-content en la segunda fila */
          margin-top: 0; /* Elimina el margen superior excesivo */
        }
        
        .footer .footer-enlaces{
            margin-top: 10px;

        }

        .footer-section.contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; /* Centra verticalmente el contenido */
          }
          
        
        .footer-credits {
          grid-row: 3; /* Ubica el footer-credits en la tercera fila */
          margin-top: 10px; /* Elimina el margen superior excesivo */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; /* Centra verticalmente el contenido */
        }
      }
      
