.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
  }

  .materias-aprobadas {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }

  .materias-aprobadas h2 {
    margin-top: 0;
  }

  .materias-aprobadas table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .materias-aprobadas th,
  .materias-aprobadas td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }

  .materias-aprobadas {
    text-align: center;
  }
  
  .carrera-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
  }
  
  .carrera-title[colspan="3"] {
    background-color: #f2f2f2;
  }
