*{
  margin: 0;
  padding: 0;
  
}

body {
background: linear-gradient(to bottom, #d0c3dd 0%,#8fcde7 100%);
font-family: 'Manjari', sans-serif;

}

body header h1{
  padding: 10px 20px;
}

/* HEADER */

.title h1 {
  text-align: center;
  font-size: 2.9em;
  text-transform: uppercase;
}

/* Estilos para el enlace del título en el header al pasar el cursor */
header.header h1 a:hover {
  transform: translateY(2px);
}

/* Estilos del contenedor principal */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0.6em auto;
  display: grid;
  gap: 1.2em;

}

/* Estilos de los contenidos principales y adicionales */
.container > .content,
.container > .adicional {
  background: #fff;
  border: 1px solid #000000;
  padding: 20px;
  display: grid;
  justify-content: center;
  border-radius: 30px;
}

/* Estilos de los headers y footers de los contenidos principales y adicionales */
.container > .header,
.container > .footer {
  grid-column: 1 / -1; /* Ocupa todas las columnas */
  background-color: #172c3a;  
  color: white;
}

.content .article-inscripcion-materia p{
  line-height: 60px;

}

.adicional {
  line-height: 80px;
}

.adicional .cajita-materia{
  margin-right: 4em;
}

.adicional .cajita-horario{
  margin-bottom: 10px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


#btn-agregar-materia,
#btn-inscribir {
  
  background-color: #7f7fd3;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  transition: width 0.3s, height 0.3s; /* Agrega una transición suave */
  border: 1px solid black;
}


#btn-inscribir:hover {
  background-color: #59b42f;
  color: #fff;
}


#btn-agregar-materia:hover {
  background-color: #2e65ad;
  color: #fff;
}

/* Estilos del contenedor de selecciones */
#selecciones-container {
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr) 50%;
  display: none;
  
}

#selecciones-container h2 {
  text-align: center;
  position: absolute;
  right: 22em;
}


.columna {
  float: right;
  width: 60%;
  padding: 20px;
  margin-left: 7em;
  margin-top: 2em;
}

.titulo-columna {
  font-weight: bold;
  margin-bottom: 10px;
  
}

#columna-apps{
  text-align: center;
}

#columna-web{
  text-align: center;
}


.hide {
  display: none;
}
.cajita-horario.oculto {
  display: none;
}
.trash-icon {
  color: rgb(196, 23, 23);
}


/* Estilos del avatar */
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 5px;
}


.avatar-text p {
  font-size: 15px;
  color: #040d18;
  display: flex;
  justify-content: end;
  margin-right: 8px;
  margin-bottom: 20px;

}

.avatar {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px 15px;
}


.avatar .icono {
  position: absolute;
  top: 35px;
  right: 22px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar .cierre-sesion {
  background-image: url(/img/Cerrar-sesion.svg);
  background-position: center; /* Alinea la imagen en el centro */
  right: 90px; /* Ajusta la posición horizontal según sea necesario */
}

.avatar .editar-perfil {
  background-image: url(/img/editar-perfil.svg);
  background-position: center; /* Alinea la imagen en el centro */
  right: 140px; /* Ajusta la posición horizontal según sea necesario */
}

.icono {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icono:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: black;
} 

/* Estilos del nombre del logo */
.nombre-logo {
  position: absolute;
  left: 0.5em;
  text-decoration: none;
  color: inherit;
}

/* Estilos del nombre del logo después de hacer clic */
a.nombre-logo[href="index.html"]:visited {
  color: inherit; /* Hereda el color del texto después de hacer clic */
}

/* Estilos del h2 */
h2 {
  color: #333;
}

/* Estilos del botón de eliminar */
.btn-eliminar {
  cursor: pointer;
}

/* Estilos del footer */
.footer {
  background-color: #172c3a;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  color: white;
}

/* Estilos del contenido del footer */
.footer-content {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

/* Estilos de los créditos del footer */
.footer-credits {
  text-align: right;
  grid-row: 3;
  margin-top: 5em;
}

/* Estilos de la sección de contacto en el footer */
.footer-section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}
/* Estilos del título h4 en la sección de contacto del footer */
.footer-section.contact h4 {
  margin-bottom: 10px;
}

/* Estilos de la imagen en la sección de contacto del footer */
.footer-section.contact img {
  margin-right: 5px;
}

/* Estilos del color de enlaces visitados */
a:visited {
  color: white;
  text-decoration: none;
}

/* Estilos de la imagen en el header */
.header img {
  margin-right: 35px;
}

/* Estilos de la lista en el footer */
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilos de los elementos de la lista en el footer */
.footer li {
  margin: 0 5px;
}

/* Estilos del último elemento de la lista en el footer */
.footer li:last-child {
  margin-right: 0;
}

/* Estilos de los enlaces en la lista del footer */
.footer li a {
  display: flex;
  align-items: center;
  color: #619bdd;
  text-decoration: none;
}

/* Estilos del punto después de los enlaces en la lista del footer */
.footer li a::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  margin-left: 5px;
}

/* Estilos del enlace en el footer */
.footer .footer-enlaces {
  flex: 1;
  text-align: center;
}

/* Estilos generales de las listas */
ul {
  list-style: none;
}

/* Estilos al pasar el cursor sobre los enlaces en el footer */
.footer li a:hover {
  cursor: pointer;
  color: white;
}

/* Estilos del option en el horario */
#horario option {
  padding-top: 2px;
  padding-bottom: 2px;
}

@media screen and (max-width: 768px) {
  /* Estilos del header en dispositivos más pequeños */
  
  .container{
    display: grid;
  }
  .header {
    text-align: start;
  }

  /* Estilos del contenido en dispositivos más pequeños */
  .container .content {
    grid-column: 1 / -1;
  }

  /* Estilos de los artículos en dispositivos más pequeños */
  .content .article-matricula::after,
  .content .article-perfil::after,
  .content .article-materia-actual::after {
    max-width: 60px;
    height: 60px;
  }

  /* Estilos del título h1 en dispositivos más pequeños */
  .content .article h1 {
    font-size: 1.5em;
  }

  /* Estilos del párrafo en dispositivos más pequeños */
  .content .article p {
    font-size: 1em;
  }

  .footer {
    background-color: #1e272e;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    color: white;
  }
  
  /* Estilos del contenido del footer en dispositivos más pequeños */
  .footer-content {
    grid-template-columns: 2fr 1fr 1fr;
    grid-row: 2;
    margin-top: 0;
  }

  /* Estilos de la sección de contacto en el footer en dispositivos más pequeños */
  .footer-section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Estilos de los créditos del footer en dispositivos más pequeños */
  .footer-credits {
    grid-row: 3;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 360px) and (max-width: 740px){
   
    .container{
      margin: auto;
      display: grid;
    }
    
    .adicional{
      line-height: 0;
    }

    .adicional .cajita-materia {
      margin:2em;
  }
    .content .article-inscripcion-materia h1{

      text-align: center;
    }
      
    .content .article-inscripcion-materia p{
      line-height: 2em;
      text-align: center;
  }

    .content .article-inscripcion-materia label {
      display: none;
    }
  }
  

  .adicional label{
    display: grid;
    justify-content: center;
    margin: 2em 0 2em;
  }
      
  .adicional .cajita-materia{
    margin: 0;

  }

      .cajita-materia,
      .cajita-horario{
      display: grid;
      justify-content: center;
      }
      
     #selecciones-container h2{
      position: absolute;
      right: 10%;
     }
      
      #btn-agregar-materia{
      margin-top: 3em
      }

    .container .content,
    .container .adicional{
      margin: auto;
      width: 80%;
    }
    
  #selecciones-container{
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }


  #btn-inscribir{

    margin: auto;
    width: 90%;
  }
  .columna {
    float: left;
    width: 60%;
    padding: 20px;
    margin-left: 10%;
}

  .header h1{ 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    
    .nombre-logo {
      position: absolute;
      top: 11px;
      left: -8px;
    }
    .avatar-text {
      display: none;
    }
    
    .avatar-text.show {
      display: block;
    }
  
    .avatar img{
      margin: 5px 0px;
    
    }
    
    .header {
      text-align: center; /* Alinea el contenido al centro */
    }
  
     
    .header h1 img {
      margin-right: 4px; /* Ajusta el margen derecho según sea necesario */
    }
  
    .mi-carrera-text {
      display: none; /* Oculta el contenido */
    }
  
    header.header h1 a:hover {
      transform: translateY(2px);
    
    }
  
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  
    .footer-section.contact ul,
    .footer-enlaces ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
    }
    
    .footer li a::after {
      content: none;
    }
    
    p.footer-credits {
      text-align: center;
    }
  
    .footer-content {
      grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos más pequeños */
      grid-row: 2; /* Ubica el footer-content en la segunda fila */
      margin-top: 0; /* Elimina el margen superior excesivo */
      text-align: center; /* Centra los enlaces uno debajo del otro */
    }


  }  
